{{> ~/views/header.nustache}}
    <h2>Not Found</h2>
    <p>
        The file that you requested was not found on this server.
    </p>
    <hr />
    <p>
        Powered by <a href="https://github.com/jammycakes/dolstagis.web">Dolstagis.Web</a>.
    </p>
{{> ~/views/footer.nustache}}