<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ Model.Status.Code }} {{ Model.Status.Description }}</title>
</head>
<body>
    <h1>{{ Model.Status.Description }}</h1>

    <p>
        This is the error what occurred.
    </p>
</body>
</html>
