<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="Dolstagis.Framework.Mail.SenderAddress" value="test@dolstagis.com"/>
    <add key="Dolstagis.Framework.Mail.SenderName" value="Dolstagis Test"/>

    <add key="Dolstagis.Tests.Core.Configuration.IntValue" value="1"/>
    <add key="Dolstagis.Tests.Core.Configuration.StringValue" value="Dolstagis"/>
    <add key="Dolstagis.Tests.Core.Configuration.BoolValue" value="true"/>
    <add key="Dolstagis.Tests.Core.Configuration.DateTimeValue" value="2013-01-29 07:34:00"/>
    <add key="Dolstagis.Tests.Core.Configuration.EnumValue" value="local"/>
    <add key="Dolstagis.Tests.Core.Configuration.TimeSpanValue" value="2.10:30:50"/>

    <add key="Dolstagis.Tests.Core.Configuration.BadDateValue" value="this is not a date"/>
    <add key="Dolstagis.Tests.Core.Configuration.BadIntValue" value="this is not an int"/>
    <add key="Dolstagis.Tests.Core.Configuration.BadEnumValue" value="this is not an enum"/>
    <add key="Dolstagis.Tests.Core.Configuration.BadBoolValue" value="this is not a Boolean"/>
    <add key="Dolstagis.Tests.Core.Configuration.BadTimeSpanValue" value="this is not a timespan"/>
    <add key="Dolstagis.Tests.Core.Configuration.OutOfRangeTimeSpanValue" value="2.25:79:92"/>
  
  </appSettings>
  
  <connectionStrings>
    <add name="Tests" connectionString="Data Source=:memory:;Version=3;New=True" providerName="System.Data.Sqlite"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
