{% include "views/header" %}
    <ul>
        <li><strong>Session ID:</strong> {{ Model.ID }}></li>
        <li><strong>Status:</strong> {{ Status.Code }} {{ Status.Description }}</li>
    </ul>
{% include "views/footer" %}